
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Controllers/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <img src="~/assets/Yt_logo.png" />
    <h1> This is Assignment no 15</h1>
    <div></div>
    <a href="#" class="mylink"> This is my link </a>
    <section id="grad">

        <div></div>
        <button> Hover me </button>
        <p>Hi </p>
        <p>This is Muhammad Rameez </p>
        <p>Studied in GCU Lahore </p>
        <p>Passioante about technology </p>

        <div class="beforeee">
            <p>Hi </p>
            <p>This is Muhammad Rameez </p>
            <p>Studied in GCU Lahore </p>
            <p>Passioante about technology </p>
        </div>

        <span>
            <p> This is a demo Oaragraph.This is a demo Oaragraph.This is a demo Oaragraph.This is a demo Oaragraph.This is a demo Oaragraph.This is a demo Oaragraph.This is a demo Oaragraph.This is a demo Oaragraph.</p>
        </span>
        <h2> This is my Heading</h2>
    </section>
    <ul>
        <li>Apple</li>
        <li>Orange</li>
        <li>Kiwi</li>
    </ul>

    <ol>
        <li>Asalam o alikum</li>
        <li>Talk</li>
        <li>Allah Hafiz</li>
    </ol>
    <div id="box">This is a box-shadow</div>


</body>
</html>
